*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(150,210,217);
background: linear-gradient(176deg, rgba(150,210,217,1) 0%, rgba(150,210,217,1) 0%, rgba(150,210,217,1) 19%, rgba(150,210,217,1) 35%, rgba(150,210,217,1) 43%, rgba(172,219,225,1) 50%, rgba(255,255,255,1) 77%);
}
.container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.item{
    border: solid 1px black;
    width: 400px;
    height: 300px;
    margin-bottom: 300px;
   
}
.h2form{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.grupo-form input{
    width: 292px;
    height: 30px;
    margin-top: 27px;
}
.grupo-form label{
    margin-left: 10px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}