* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerindex {
    background: rgb(194,224,250);
    background: linear-gradient(74deg, rgba(194,224,250,1) 12%, rgba(179,213,242,1) 45%, rgba(5,108,242,1) 73%);
    display: flex;
    justify-content: space-between;
    height: 110px;
    padding: 12px; 
    align-items: center;
}

.itensindex {
    width: 250px;
    height: 300px;
    border: 1px solid black;
}

.itensnavindex {
    display: flex;
    gap: 0 34px;
    padding-right: 10px;
    font-size: 17px;
}

.itensnav {
    transition: 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.anav {
    color: black;
    text-decoration: none;
    padding: 6px;
    padding-bottom: 20px;
}

.itensnav:hover {
    background-color: #5B9EA6;
    transform: scale(1.1);     
    box-shadow: 5px 5px #5B9EA6;
}
#logo{
    width: 170px;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}